---
import "../../css/global.css";
import Headerv2 from "../../components/Headerv2.astro";
import Layout from "../../layouts/Layout.astro";
/* import Product_header from "../../components/Product_header.astro";
import Product_img from "../../components/Product_img.astro";
import Product_info from "../../components/Product_info.astro"; */
import Product_purchase from "../../components/Product_purchase.astro";

export async function getStaticPaths() {
  const data = await fetch("https://hyirzxgnbyzseptrsnej.supabase.co/rest/v1/products", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5aXJ6eGduYnl6c2VwdHJzbmVqIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQyMzg0NjksImV4cCI6MTk5OTgxNDQ2OX0.snnOfGlxhhbRYpO6eCrZeUAF5CUfhVeReRhwSnTOinY",
    },
  }).then((response) => response.json());

  return data.map((product) => {
    return {
      params: { name: product.name },
      props: { myData: product },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---



<Layout title={myData.name} >
  <Headerv2 />
  <div class="container">
    <div class="product-header">

     <div class="padding-top">
  <h1>{myData.name}</h1>
  <h2>{myData.price} DKK</h2>
</div>
      
    </div>
    <div class="overflow">
      <div class="images">
          <div class="position">
            <img src={"/assets/products/" + myData.img} />
            <img src={"/assets/products/" + myData.img2} />
            <img src={"/assets/products/" + myData.img3} />
            <img src={"/assets/products/" + myData.img4} />
            <img src={"/assets/products/" + myData.img5} />
          </div>
      </div>
    </div>
    <div class="product-info">

    <div class="center">
  <!-- DATABASE -->
  <p>{myData.desc}
  </p>

  <p>MATERIAL - {myData.material}</p>
  <!-- DATABASE -->
  <p>SIZES: {myData.sizes} </p>

  <ul>
    <li>Handmade in Copenhagen, Denmark</li>
    <br />
    <li>Shipping within 10 working days</li>
    <br />
    <li>14 days return request</li>
    <br />
    <li>925 sterling silver</li>
  </ul>
</div>
    </div>
  </div>

  <Product_purchase/>
  <style>
/* Header-title  */
  .padding-top h1,
  .padding-top h2 {
    text-align: center;
    margin: 0;
  }

  .padding-top h1 {
    font-weight: 600;
    font-size: 35px;
  }

  .padding-top h2 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0.5em;
  }

/* images  */
  .position img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Product Info  */
  .center {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }

  .center ul {
    list-style-type: disc;
  }

  .center p {
    text-align: left;
    font-size: 20px;
    padding: 4em auto 3em auto;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  .center li {
    text-align: left;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

.position{
    display: flex;
    flex-direction: column;
    align-items: stretch; /* This will make the images fill the container's width */
}

/* Layout  */
    html{
      height:100%
      scroll-behavior: smooth;
    }
    .container {
      padding: 6em 0 0 0;
      margin: 0;
    }

    .product-info {
      padding: 0 1.5em 0 1.5em;
    }

    @media (min-width: 800px) {
/* header-title  */
    .padding-top h1,
    .padding-top h2 {
      text-align: left;
      margin-bottom: 0.5em;
    }

    .padding-top h1 {
      font-weight: 600;
      font-size: 40px;
    }

    .padding-top h2 {
      font-weight: 400;
      font-size: 30px;
    }



/* Layout  */
      .container {
        padding: 18vh 0 0 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100vh;
      }

      .overflow {
        display: flex;
        position: absolute;
        overflow-y: scroll; /* make it scrollable */
        height: 100%;
        width: 100%;
      }

      .images {
        grid-row: 1;
        width: 50vw;
      }

      .product-header,
      .product-info,
      .product-purchase {
        grid-column: 2/3;
        grid-row: 1;
        padding-left: 2em;
        padding-right: 2em;
      }

      .product-info {
        margin-top: 15%;
      }


      .overflow::-webkit-scrollbar {
        /* Chrome, Safari, and Opera */
        scroll-behavior: smooth;
      }
    }
  </style>
</Layout>
